$gothic: 'Gothic A1', sans-serif;
$white: #FFFFFF;
$under-title: #A8A8A8;
$title: #000000;
$sub-title: #6B6B6B;
$number: #333333;
$input-color: #1C1C1C;

body  {
font-weight: 400;
font-family: $gothic;
color: $white;
}
.container  {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0;

		&__logo {
		}

		&__logo-img {
		}

		&__list {
            display: flex;
            gap: 30px;
		}
            // &__list-active {
            // top: 0;
            // }

		&__item {
		}

		&__link {
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 5px;
            text-decoration: none;
            color: $white;
            position: relative;
            &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        display: block;
                        background: none repeat scroll 0 0 transparent;
                        height: 2px;
                        width: 0;
                        background: #fff;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                  }
                  &:hover::after {
                        width: 100%; 
                        left: 0; 
                  }
		}
}
.header {
background: url(../images/header-bg.jpg);
background-repeat: no-repeat;
background-size: cover;

		&__content {
            padding: 226px 0 0 0;
		}

		&__content-title {
            font-size: 80px;
            line-height: 80px;
            color: $white;
		}

		&__content-text {
            font-size: 30px;
            line-height: 44px;
            color: $white;
            padding: 20px 0;
		}

		&__content-link {
            width: 170px ;
            height: 66px;
            color: $white;
            background: #FC0A7E;
            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            margin-bottom: 125px;
            box-shadow:0 5px 0 #de006b;
            transition:  0.2s;
            
            
		}
            &__content-link:hover   {
            box-shadow: 0 0 0 #de006b;
            transform: translateY(5px);
            }
            &__content-img {
            margin: 0 auto;
            padding-bottom: 30px;
            animation: arrow 4s linear infinite ;
            }
            @keyframes arrow {
                  0%    {
                        transform: translateY(0%);
                  }
                  50%   {
                        transform: translateY(45%);
                  }
                  100%  {
                         transform: translateY(0%);

                  }
            }
            &__menu-burger {
                  display: none;
                  position: relative;
                  width: 40px;
                  height: 40px;
                  cursor: pointer;
                  &::before {
                        content: '';
                       position: absolute;
                        width: 100%;
                        height: 3px;
                        background: $white;
                        top: 0px; 
                        transition: all .5s;

                  }
                  &::after  {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background: $white;
                        top: 23px;
                        transition: all .5s;

                  }
            }
            &__menu-burger span {
                  position: absolute;
                  width: 100%;
                  height: 3px;
                  background: $white;
                  top: 12px;
            }
            &__menu-burger.header__menu-active span {
                  transform: scale(0);
            }
            &__menu-active {
                  &::before {
                        transform: rotate(45deg);
                        top: 15px;
                  }
                  &::after {
                        transform: rotate(-45deg);
                        top: 15px;
                  }
            }
            
            
            
}

.reports {
    background: #1B1B1B;
    padding-top: 100px;
		&__text {
            font-size: 12px;
            line-height: 20px;
            color: $under-title;
            text-align: center;
		}

		&__title {
            font-size: 38px;
            line-height: 48px;
            max-width: 607px;
            text-align: center;
            margin: 0 auto;
            padding: 25px 0 55px;
		}
}

.mobile {
    padding: 80px 0;

		&__content {
            display: flex;
            margin-bottom: 120px;
            align-items: center;
            justify-content: space-evenly;
		}

		&__info {
            display: flex;
            flex-direction: column;
            max-width: 306px;
		}

		&__under-title {
            font-size: 12px;
            line-height: 20px;
            color: $under-title;
		}

		&__title {
            font-size: 38px;
            line-height: 48px;
            color: $title;
            margin: 25px 0 70px;
		}

		&__sub-title {
            font-size: 16px;
            line-height: 30px;
            color: $sub-title;
		}

		&__img {
		}
}

.benefits {

		&__items-first {
            text-align: center;
		}

		&__list-first {
            display: flex;
            gap: 60px;
            
		}

		&__img {
            margin: 0 auto;
		}

		&__title {
            font-size: 18px;
            line-height: 24px;
            color: $title;
            margin: 40px 0 20px;
		}

		&__text {
            font-size: 16px;
            line-height: 30px;
            color: $sub-title;
		}

		&__list-second {
            display: flex;
            gap: 140px;
            justify-content: center;
            text-align: center;
            margin:  150px 0 ;
            
		}

		&__items-second {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
		}

		&__items-number {
            font-size: 59px;
            line-height: 90px;
            color: $number;
            margin-bottom: 10px;
		}

		&__items-text {
            font-size: 18px;
            line-height: 24px;
            color: $title;
            font-weight: 700;
		}
}


.eats {
margin-bottom: 160px;
		&__list {
		}

		&__items {
            margin-bottom: 160px;
            display: flex;
            gap: 82px;
            justify-content: center;
		}

		&__info {
            max-width: 330px;
		}

		&__under-title {
            font-size: 12px;
            line-height: 20px;
            color: $under-title;
		}

		&__title {
            font-size: 38px;
            line-height: 48px;
            color: $title;
            margin: 25px 0 22px;
		}

		&__sub-title {
            font-size: 16px;
            line-height: 30px;
            color: $sub-title;
		}

		&__first-link {
            font-weight: 700;
            color: inherit;
		}

		&__img {
		}

		&__second-link {
            font-weight: 700;
            color: inherit;
		}
}

.slider {

		&__content {
            position: relative;
		}

		&__text {
            max-width: 700px;
            font-size: 24px;
            line-height: 40px;
            color: $sub-title;
            margin: 0 auto;
            text-align: center;
            padding-top: 116px;
		}
        &__text::before {
            content: "";
            position: absolute;
            width: 58px;
            height: 54px;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            background-image: url(../images/for-slider.svg);
            background-repeat: no-repeat;
            }

		&__info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0 50px 0;
            align-items: center;
		}

		&__name {
            font-size: 16px;
            line-height: 30px;
            color: $sub-title;
		}

		&__line {
            width: 30px;
            height: 1px;
            background: #D3D3D3;
            margin: 0 20px;
		}

		&__newspaper {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            color: $sub-title;
		}
}
.slick-dots li button::before  {
    content: url(../images/grey-block.jpg);
    
}
.slick-dots li.slick-active button:before   {
    content: url(../images/black-block.jpg);

}
.company  {
    max-width: 100%;
    overflow: hidden;
    &:hover div {
      animation-play-state: paused;
    }
    &__content  {
        display: flex;
        width: 180%;
        animation: line 8s linear infinite;
    }
    &__item {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    &__img  {
        width: 300px;
        height: 250px;
    }

}
@keyframes line {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
.smartphone  {
      background: url(../images/smartphone.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 518px;
}

.ready {
      background: url(../images/ready-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
            &__content  {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  margin: 164px 0 155px;
            }

		&__title {
                  font-size: 38px;
                  line-height: 48px;
                  margin-bottom: 40px;
		}

		&__download {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-decoration: none;
                  font-size: 16px;
                  line-height: 26px;
                  color: inherit;
                  width: 190px;
                  height: 66px;
                  background: #FC0A7E;
                  border-radius: 3px;
                  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
                  outline: 1px solid;
                  outline-color: #fc0a6f;
                  outline-offset: 0px;
                  text-shadow: none;
                  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		}
            &__download:hover   {
                  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
                  outline-color: rgba(255, 255, 255, 0);
                  outline-offset: 15px;
                  text-shadow: 1px 1px 2px #427388;
            }

		&__get {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-decoration: none;
                  font-size: 16px;
                  line-height: 26px;
                  color: inherit;
                  width: 190px;
                  height: 66px;
                  background: transparent;
                  border-radius: 3px;
                  border: 1px solid #B04BB3;
                  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
                  outline: 1px solid;
                  outline-color: #fc0a6f;
                  outline-offset: 0px;
                  text-shadow: none;
                  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		}
            &__get:hover   {
                  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
                  outline-color: rgba(255, 255, 255, 0);
                  outline-offset: 15px;
                  text-shadow: 1px 1px 2px #427388;
            }
            &__links  {
                  display: flex;
                  justify-content: center;
                  gap: 10px;

            }
}

.footer {
      padding: 129px 0 68px;
      background: #1B1B1B;

		&__content {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
		}

		&__title {
                  font-size: 38px;
                  line-height: 48px;
		}

		&__text {
                  font-size: 16px;
                  line-height: 30px;
                  color: $sub-title;
                  margin: 20px 0 40px;
		}

		&__form {
                  display: flex;
		}

		&__input {
                  width: 311px;
                  height: 70px;
                  padding: 0px 10px 0 20px;
		}
            &__input::placeholder   {
                  font-size: 16px;
                  line-height: 26px;
                  color: $input-color;
            }

		&__btn {
                  width: 154px;
                  height: 70px;
                  background: #FC0A7E;
                  border: 1px solid #FC0A7E;
                  font-size: 16px;
                  line-height: 26px;
                  color: $input-color;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  transition: all .5s;
                  &:hover {
                        transform: scale(1.1);
                  }
		}

		&__logo {
                  margin: 0 auto;
                  margin-top: 140px;
                  margin-bottom: 30px;
		}

		&__img {
                  margin: 0 auto;
		}

		&__list {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 30px;
		}

		&__items {
                   transition: all .3s;
                  &:hover {
                        transform: scale(1.1);
                        color: #a2a0a0;
                  }
		}

		&__items-link {
                  font-size: 12px;
                  line-height: 20px;
                  color: $sub-title;
                  transition: all .3s;
                  &:hover {
                        color: #a2a0a0;
                  }
		}
}


@media (max-width:1100px) {
      .container {
            padding: 0 40px;
      }
      .header {
            &__content-title  {
                  font-size: 65px;
            }
            &__content-text   {
                  font-size: 23px;
            }
            &__content-link   {
                  width: 160px;
                  height: 60px;
            }
      }
      .mobile {
            &__img {
                  width: 300px;
            }
      }
      .benefits {
            &__list-second {
                  gap: 90px;
            }
            &__items-number {
                  font-size: 50px;
                  line-height: 80px;
            }
            &__items-text {
                  font-size: 16px;
                  line-height: 15px;
            }
      }
      .eats {
            &__img {
                  width: 450px;
            }
            &__title {
                  font-size: 34px;
                  line-height: 46px;
                  margin: 20px 0 20px;
            }
            &__sub-title {
                  font-size: 14px;
                  line-height: 29px;
            }
      }
      .company {
            &__content {
                  width: 230%;
            }
      }
      .ready {
            background-size: auto;
      }
}
@media (max-width:900px) {
            .header {
            &__content-title  {
                  font-size: 55px;
            }
            &__content-text   {
                  font-size: 20px;
                  padding-top: 0;
            }
            &__content-link   {
                  width: 140px;
                  height: 55px;
                  font-size: 15px;
            }
       }
       .mobile {
            padding: 80px 0 0 0;
            &__img {
                  width: 250px;
            }
            &__title {
                  margin: 15px 0 45px;
                  font-size: 35px;
            }
      }
      .benefits {
            &__list-second {
                  gap: 50px;
                  margin: 100px;
            }
            &__items-number {
                  font-size: 50px;
                  line-height: 80px;
            }
            &__items-text {
                  font-size: 17px;
                  line-height: 20px;
            }
      
      }
      .eats {
            &__img {
                  width: 350px;
            }
            &__under-title {
                  font-size: 11px;
            }
            &__title {
                  font-size: 30px;
                  line-height: 40px;
                  margin: 10px 0 15px;
            }
            &__sub-title {
                  font-size: 13px;
                  line-height: 25px;
            }
            &__items {
                  gap: 60px;
            }
      }
      .company {
            &__content {
                  width: 275%;
            }
      }
      
}
@media (max-width:800px) {
            .header {
            &__content-title  {
                  font-size: 50px;
            }
            &__content-text   {
                  font-size: 17px;
                  padding-top: 0;
            }
            &__content-link   {
                  width: 140px;
                  height: 55px;
                  font-size: 15px;
            }
       }
       .eats {
            &__img {
                  width: 430px;
                  border-radius: 15px;
            }
            &__under-title {
                  font-size: 15px;
            }
            &__title {
                  font-size: 32px;
                  line-height: 43px;
                  margin: 15px 0 20px;
            }
            &__sub-title {
                  font-size: 15px;
                  line-height: 30px;
            }
            &__items {
                  gap: 60px;
                  flex-direction: column;
                  align-items: center;
                  margin-bottom: 130px;
                  &:nth-child(odd) {
                        flex-direction: column-reverse;
                  }
            }
            &__info {
                  text-align: center;
                  max-width: 400px;
            }
      }
      .company {
            &__content {
                  width: 300%;
            }
      }
}
@media(max-width:700px) {
      .nav {
            position: relative;
            &__list {
                  display: block;
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%);
                  text-align: center;
                  top: -210%;
                  transition: all 1s ease;
                  border-radius: 20px;
                  background: rgba(63, 62, 62,  0.4);
                  width: 140px;
                  padding: 15px 15px 0 15px;
            }
            &__link {
                  margin-bottom: 20px;
                  display: inline-block;                  
            }
            &__list-active {
            top: 100%;
            }
      }
      .ready {
            &__content {
            margin: 130px 0 140px
            }
            &__title {
                  font-size: 35px;
                  line-height: 35px;
                  text-align: center;
            }
            &__download {
                  width: 170px;
            }
            &__get {
                  width: 170px;
            }
      }
      .mobile {
            &__img {
                  width: 220px;
            }
            &__title {
                  margin: 10px 0 25px;
                  font-size: 30px;
            }
            &__content {
                  gap: 20px;
            }
      }
      .header {
            &__menu-burger {
                  display: block;
            }
            &__content {
                  padding-top: 100px;
                  transition: all 1s ease;
            }
            &__content-active {
                  padding-top: 225px;
            }
      }
      .reports {
            &__title {
                  font-size: 24px;
            }
      }
      .benefits {
            margin-bottom: 130px;
            &__list-first {
                  flex-direction: column;
                  align-items: center;
            }
            &__text {
                  width: 400px;
            }
            &__list-second {
                  flex-wrap: wrap;
                  margin: 50px 0 20px 0;
            }
            &__items-second {
                  width: 35%;
            }
      
      }
      .slider {
            &__text {
                  max-width: 500px;
                  font-size: 20px;
                  line-height: 38px;
            }
      }
      .company {
            &__content {
                  width: 350%;
            }
      }
      .footer {
            padding: 100px 0 60px;
            &__logo {
                  margin-top: 120px;
            }
            &__input {
                  width: 290px;
                  height: 65px;
            }
            &__btn {
                  width: 130px;
                  height: 65px;
            }
            &__list {
                  gap: 20px;
            }
      }
}
@media(max-width:600px) {
      .header {
            &__content {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  align-items: center;
            }
            &__content-title  {
                  font-size: 43px;
            }
            &__content-text   {
                  font-size: 15px;
                  padding-top: 0;
                  text-align: center;
            }
            &__content-link   {
                  margin-bottom: 80px;
            }
      }
      .reports {
            padding-top: 50px;
            &__title {
                  font-size: 20px;
                  padding: 15px 0 35px;
            }
      }
      .mobile {
            &__img {
                  width: 200px;
            }
            &__title {
                  margin: 0px 0 10px;
                  font-size: 28px;
            }
            &__sub-title {
                  line-height: 27px;
                  font-size: 14px;
            }
            &__content {
                  margin-bottom: 100px;
            }
      }
      .eats {
            &__img {
                  width: 400px;
            }
            
            &__title {
                  font-size: 28px;
                  line-height: 35px;
                  margin: 15px 0 20px;
            }
            &__sub-title {
                  font-size: 14px;
                  line-height: 28px;
            }
            &__items {
                  margin-bottom: 110px;
            }
            
      }
      .footer {
      padding: 80px 0 50px;
            &__list {
                  flex-wrap: wrap;
                  text-align: center;
            }
            &__items {
                  flex: 1 1 33.333%;
            }
            &__title {
                  text-align: center;
            }
            &__input {
                  width: 260px;
                  height: 60px;
            }
            &__btn {
                  width: 121px;
                  height: 60px;
            }
            &__logo {
                  margin-top: 100px;
            }
      }
}
@media(max-width:500px) {
      .mobile {
            &__img {
                  width: 170px;
            }
            &__title {
                  margin: 0px 0 5px;
                  font-size: 25px;
            }
            &__sub-title {
                  line-height: 20px;
                  font-size: 13px;
            }
            &__content {
                  margin-bottom: 80px;
            }
      }
      .eats {
            margin-bottom: 130px;
      }
      .slider {
            &__text {
                  font-size: 18px;
                  line-height: 35px;
            }
            &__info {
                  margin-bottom: 20px;
            }
      }
      .company {
            &__img {
                  width: 250px;
                  height: 200px;
            }
            &__content {
                  width: 400%;
            }
      }
      .ready {
            &__content {
                  margin: 120px 0 130px;
            }
            &__title {
                  font-size: 30px;
                  line-height: 30px;
            }
            &__download {
                  width: 150px;
                  height: 60px;
            }
            &__get {
                  width: 150px;
                  height: 60px;
            }
      }
      .footer {
            &__title {
                  font-size: 28px;
                  line-height: 40px;
            }
            &__input {
                  width: 240px;
                  height: 50px;
                  &::placeholder {
                        font-size: 15px;
                  }
            }
            &__btn {
                  width: 100px;
                  height: 50px;
                  font-size: 15px;
            }
      }
}
@media(max-width:391px) {
      .reports {
            padding-top: 40px;
            &__title {
                  font-size: 20px;
                  line-height: 35px;
                  padding: 20px 0 45px;
            }
      }
      .mobile {
            padding: 50px 0 0 0;
            &__img {
                  width: 200px;
            }
            &__title {
                  margin: 10px 0 20px;
                  font-size: 28px;
            }
            &__sub-title {
                  line-height: 27px;
                  font-size: 14px;
            }
            &__content {
                  margin-bottom: 100px;
                  flex-direction: column;
                  align-items: center;
                  &:nth-child(odd) {
                        flex-direction: column-reverse;
                  }
            }
            &__info {
                  align-items: center;
                  text-align: center;
            }
      }
      .benefits {
            margin-bottom: 110px;
            &__text {
                  width: 300px;
            }
            &__list-second {
                  flex-direction: column;
                  align-items: center;
            }
            &__items-number {
                   margin-bottom: 0;
            }
      
      }
      .company {
            &__img {
                  width: 230px;
                  height: 180px;
            }
            &__content {
                  width: 450%;
            }
      }
      .ready {
            &__content {
                  margin: 100px 0 110px;            
            }
            &__title {
                  font-size: 26px;
                  line-height: 20px;
            }
            &__links {
                  flex-direction: column;
                  align-items: center;
                  gap: 20px;
            }
      }
      .footer {
            padding: 70px 0 40px;
            &__text {
                  text-align: center;
            }
            &__logo {
                  margin-top: 70px;
            }
      }
}
@media (max-width:321px) {
      .company {
            &__content {
                  width: 490%;
            }
      }
      .ready {
            &__title {
                  font-size: 23px;
                  line-height: 15px;
            }
      }
      .content {
            margin: 90px 0 100px;
      }
}







